* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PPMori', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}


body {
    overflow-x: hidden;
    background-color: #0F0D0D;
}

.main {
    background-color: #0F0D0D;
    color: #FEFCFF;
    margin-top: 60px;
}

.page1 {
    width: 100vw;
    /* padding-top: 10vw; */
}

.marginbottom {
    margin-bottom: 5vw;
}

/* ===========NAVBAR============= */
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    z-index: 99;
    color: #FEFCFF;
    /* background-color: #0F0D0D; */
    mix-blend-mode: difference;
}

.navbar img {
    height: 24px;
}

.nav-part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.circle {
    height: 17px;
    width: 17px;
    background-color: #FEFCFF;
    border-radius: 100%;
}

.nav-part2 h4 {
    font-size: 13px;
    font-weight: 500;
    /* mix-blend-mode: difference; */
}

.navbar h4:nth-child(1) {
    border-bottom: 2px solid #FEFCFF;
}

/* animated text page 1 */
.page1 h1,
.page1 h2 {
    font-size: 7.6vw;
    font-weight: 500;
    letter-spacing: -0.3vw;
    line-height: 1;
}

.stop-overflow {
    overflow: hidden;
    padding-bottom: 1vw;
}

.page1 h1 {
    margin-top: 10vw;
}

.sliding-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sliding-text p {
    font-size: 1.2vw;
    margin-top: 5vw;
    width: 35vw;
}

.page1 video {
    max-width: 100%;
    width: 1%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10vw;
}


/* ===========page2========== */
.page2 {
    width: 100vw;
    padding: 150px 0;
    border-bottom: 1px solid black;

}

.page2 h2 {
    font-size: 7vw;
    font-weight: 400;
    letter-spacing: -0.3vw;
    padding: 0 7vw;
}

.page2-heading {
    overflow: hidden;
}

.page2-container {
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 7.3vw;
}

.page2-left {
    width: 30vw;
}

.page2-left p {
    font-size: 3.3vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 200;
    line-height: 1;
}

.page2-right {
    width: 25vw;
    font-size: 1.1vw;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.page2-right button {
    width: 15vw;
    font-size: 1vw;
    border: none;
    background-color: #ebdfff;
    padding: 0.2vw 1vw;
    border-radius: 50px;
    margin-top: 1vw;
}



/* =========page3=========== */
.page3 {
    width: 100%;
    border-bottom: 1px solid #0F0D0D;
    padding: 10vw 5vw;
    position: relative;
}

.page3 h1 {
    font-size: 8vw;
    font-weight: 300;
    text-align: left;
    line-height: 0.9;
}

.fw-1,
.fw-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -10vw;
}

.fw-1 img,
.fw-2 img {
    margin-top: 25vw;
    width: 35vw;
}

.fw-1 video,
.fw-2 video {
    width: 40vw;
}

.fw-title {
    font-size: 2vw;
}



/* ====page4==== */
.page4 {
    width: 100%;
    padding: 7vw;
    text-align: center;
    border-bottom: 1px solid #FEFCFF;
}

.page4-intro {
    font-size: 0.8vw;
}

.page4 .elem1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.page4 .first {
    margin-top: 2vw;
}

.margintop {
    margin-top: 5vw;
}

.elem1 .text-div {
    height: 9.8vw;
    overflow: hidden;
}

.elem1 h1 {
    font-size: 7.5vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-out;
    /* text-shadow:
        0 0 15px rgba(255, 255, 255, 0.2); */
}

.elem1 img {
    width: 20vw;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.elem1 img:nth-child(2) {
    left: 2%;
    top: -40%;
    transform: translateY(10%) rotate(5deg);
    scale: 0.9;

}

.elem1 img:nth-child(3) {
    width: 17vw;
    right: 5%;
    top: 30%;
    transform: translateY(10%) rotate(5deg);
    scale: 0.9;
}

.text-div:hover h1 {
    transform: translateY(-100%);
    color: #c9b0f0;
    /* text-shadow:
        0 0 15px rgba(255, 255, 255, 0.2); */
}

.text-div:hover~img {
    opacity: 1;
    transform: translateY(0) rotate(0);
    scale: 1;
}

/* =========page5========= */

.page5 {
    width: 100%;
    padding: 10vw 5vw;
    margin-bottom: 10vw;
    border-bottom: 1.5px solid #FEFCFF;
}

.page5-left h1 {
    font-size: 8vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.35vw;
}

.page5-scroller .box1 {
    width: 42vw;
    margin-right: 20vw;
}

.box1 h1 {
    font-size: 3vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 5vw;
    margin-top: 1vw;
    text-transform: uppercase;
}

.box1 p {
    font-size: 1.1vw;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.box1 span {
    border: 1px solid #FEFCFF;
    border-radius: 20px;
    padding: 0.3vw 1.5vw;
}

.page5-scroller {
    width: 250vw;
    display: flex;
    align-items: center;
}

/* =======page6========== */
.page6 {
    padding: 1vw 5vw 8vw 5vw;
}

.page6 .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page6 .sliding-img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0;
    border-top: 1.5px solid #FEFCFF;
    position: relative;
    opacity: 0.4;
}

.sliding-img-box .right {
    display: flex;
    gap: 5vw;
    font-size: 1.1vw;
}

.sliding-img-box:nth-last-child(1) {
    border-bottom: 1.5px solid #FEFCFF;
}

.page6 .heading h1 {
    font-size: 3.5vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.1vw;
    text-transform: uppercase;
    padding-bottom: 3vw;
    background: linear-gradient(90deg, #c9b0f0, #FEFCFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sliding-img-box .left {
    font-size: 2vw;
}

.page6 .heading button {
    font-size: 1vw;
    padding: 0.5vw 1vw;
    border-radius: 150px;
    background: transparent;
    color: #FEFCFF;
    border: 1px solid #FEFCFF;
}

.sliding-img-box img {
    width: 12vw;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.sliding-img-box:hover img {
    opacity: 1;
    z-index: 10;
}

/* =======page7======= */
.page7 {
    background-color: #edbfff;
    width: 100%;
    height: 100vw;
    padding: 0 5vw;
    color: #0F0D0D;
}

.page7-upper {
    padding: 10vw 0;
    width: 100%;

    border-bottom: 1px solid #0F0D0D;
}

.page7-upper p {
    font-size: 3vw;
    /* font-family: 'Satoshi', sans-serif; */
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.1vw;
    width: 70%;
    text-transform: uppercase;
}







/* ==========cursor========= */
.page1,
.page2,
.page3,
.page4,
.page5 {
    position: relative;
}